In [17]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics
from sklearn.metrics import classification_report

# EDA

In [5]:
bd = pd.read_csv('Bigdatapcap.csv')
bd

,No.,Time,Source,Destination,Protocol,Length,Info
0,1,0.000000,10.10.1.198,142.251.10.95,TLSv1.2,64468,Ignored Unknown Record
1,2,0.000548,10.10.1.198,142.251.10.95,TLSv1.2,64468,Ignored Unknown Record
2,3,0.001245,10.10.1.198,142.251.10.95,TLSv1.2,64468,Ignored Unknown Record
3,4,0.001793,10.10.1.198,142.251.10.95,TLSv1.2,64468,Ignored Unknown Record
4,5,0.002340,10.10.1.198,142.251.10.95,TLSv1.2,64468,Ignored Unknown Record
...,...,...,...,...,...,...,...
247816,247817,54.077285,142.251.10.95,10.10.1.198,TCP,96,[TCP Dup ACK 247812#4] 443 > 49476 [ACK] Seq...
247817,247818,54.077285,142.251.10.95,10.10.1.198,TCP,96,[TCP Dup ACK 247812#5] 443 > 49476 [ACK] Seq...
247818,247819,54.077288,10.10.1.198,142.251.10.95,TLSv1.2,1292,Application Data
247819,247820,54.077355,142.251.10.95,10.10.1.198,TCP,96,[TCP Dup ACK 247812#6] 443 > 49476 [ACK] Seq...
247820,247821,54.077355,142.251.10.95,10.10.1.198,TCP,96,[TCP Dup ACK 247812#7] 443 > 49476 [ACK] Seq...

In [7]:
bd.head()

,No.,Time,Source,Destination,Protocol,Length,Info
0,1,0.000000,10.10.1.198,142.251.10.95,TLSv1.2,64468,Ignored Unknown Record
1,2,0.000548,10.10.1.198,142.251.10.95,TLSv1.2,64468,Ignored Unknown Record
2,3,0.001245,10.10.1.198,142.251.10.95,TLSv1.2,64468,Ignored Unknown Record
3,4,0.001793,10.10.1.198,142.251.10.95,TLSv1.2,64468,Ignored Unknown Record
4,5,0.002340,10.10.1.198,142.251.10.95,TLSv1.2,64468,Ignored Unknown Record

In [8]:
bd.tail()

,No.,Time,Source,Destination,Protocol,Length,Info
247816,247817,54.077285,142.251.10.95,10.10.1.198,TCP,96,[TCP Dup ACK 247812#4] 443 > 49476 [ACK] Seq...
247817,247818,54.077285,142.251.10.95,10.10.1.198,TCP,96,[TCP Dup ACK 247812#5] 443 > 49476 [ACK] Seq...
247818,247819,54.077288,10.10.1.198,142.251.10.95,TLSv1.2,1292,Application Data
247819,247820,54.077355,142.251.10.95,10.10.1.198,TCP,96,[TCP Dup ACK 247812#6] 443 > 49476 [ACK] Seq...
247820,247821,54.077355,142.251.10.95,10.10.1.198,TCP,96,[TCP Dup ACK 247812#7] 443 > 49476 [ACK] Seq...

In [9]:
bd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247821 entries, 0 to 247820
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   No.          247821 non-null  int64
 1   Time         247821 non-null  float64
 2   Source       247821 non-null  object
 3   Destination  247485 non-null  object
 4   Protocol     247821 non-null  object
 5   Length       247821 non-null  int64
 6   Info         247821 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 13.2+ MB

In [10]:
bd.describe()

                 No.           Time         Length
count  247821.000000  247821.000000  247821.000000
mean   123911.000000      28.656506    2001.585560
std     71539.904868      16.365018   10426.931013
min         1.000000       0.000000      44.000000
25%     61956.000000      16.132030      96.000000
50%    123911.000000      30.744336      96.000000
75%    185866.000000      39.675482      96.000000
max    247821.000000      54.077355   64468.000000

In [13]:
vc  = bd['Length'].value_counts()
vc

Length
96       233475
64468      6196
68         1194
80          954
88          942
          ...
64350         1
2018          1
3600          1
340           1
5930          1
Name: count, Length: 244, dtype: int64

In [16]:
bd.isnull().sum()

No.              0
Time             0
Source           0
Destination    336
Protocol         0
Length           0
Info             0
dtype: int64

In [19]:
bd = bd.dropna(subset=['Destination'])

In [20]:
bd.isnull().sum()

No.            0
Time           0
Source         0
Destination    0
Protocol       0
Length         0
Info           0
dtype: int64

In [21]:
def encoding(list_encode):
  label_encoder = LabelEncoder()
  for i in list_encode:
    for j in bd:
      if i == j:
        bd[i] = label_encoder.fit_transform(bd[i])
  return bd

In [27]:
list_encode = ['Destination', 'Protocol', 'Length', 'Info', 'Source']

In [28]:
encoding(list_encode)

C:\Users\Reza Syahlevi\AppData\Local\Temp\ipykernel_4780\1746521155.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bd[i] = label_encoder.fit_transform(bd[i])
C:\Users\Reza Syahlevi\AppData\Local\Temp\ipykernel_4780\1746521155.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bd[i] = label_encoder.fit_transform(bd[i])
C:\Users\Reza Syahlevi\AppData\Local\Temp\ipykernel_4780\1746521155.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bd[i] = label_encoder.fit_transform(bd[i])
C:\Users\Reza Syahlevi\AppData\Local\Temp\ipykernel_4780\1746521155.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bd[i] = label_encoder.fit_transform(bd[i])
C:\Users\Reza Syahlevi\AppData\Local\Temp\ipykernel_4780\1746521155.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bd[i] = label_encoder.fit_transform(bd[i])

           No.       Time  Source  Destination  Protocol  Length    Info
0            1   0.000000       1            6         6     240   68801
1            2   0.000548       1            6         6     240   68801
2            3   0.001245       1            6         6     240   68801
3            4   0.001793       1            6         6     240   68801
4            5   0.002340       1            6         6     240   68801
...        ...        ...     ...          ...       ...     ...     ...
247816  247817  54.077285       6            1         5      12  181639
247817  247818  54.077285       6            1         5      12  181640
247818  247819  54.077288       1            6         6      50   68782
247819  247820  54.077355       6            1         5      12  181641
247820  247821  54.077355       6            1         5      12  181642

[247485 rows x 7 columns]

In [29]:
correlation_matrix = bd.corr()
relevant_features = correlation_matrix['Protocol'].sort_values(ascending=False)
relevant_features

Protocol       1.000000
Length         0.854952
Destination    0.771176
Time           0.004457
No.            0.001860
Info          -0.117546
Source        -0.746306
Name: Protocol, dtype: float64

In [31]:
# Split features and labels
X = bd[['Length', 'Destination', 'Time', 'No.']].values
y = bd['Protocol'].values

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

# Naives Bayes

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import datasets

model = GaussianNB()

# Latih model menggunakan data latih
model.fit(X_train, y_train)

# Prediksi kelas pada data uji
y_pred = model.predict(X_test)

# Evaluasi model (misalnya, akurasi)
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print(f'Akurasi: {accuracy:.2f}')

Akurasi: 0.99

# Random Forest

In [34]:
from sklearn.ensemble import RandomForestClassifier
# Inisialisasi model Random Forest
model = RandomForestClassifier(n_estimators=100, random_state=42)

# Latih model menggunakan data latih
model.fit(X_train, y_train)

# Prediksi kelas pada data uji
y_pred = model.predict(X_test)

# Evaluasi model (misalnya, akurasi)
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print(f'Akurasi: {accuracy:.2f}')

Akurasi: 1.00